.card {
  box-shadow: $boxShadow;
  height: 45rem;
  background-color: $darkColor;
  transition: all .3s ease-in-out;



  &:hover {
    transform: translateY(-.6rem);
  }

  &-img {
    width: 100%;
    height: 65%;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    padding: 0 2rem 2rem 2rem;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-title {
    margin-top: .5rem;
  }

  &-bottom {
   display: flex;
    width: 100%;
    justify-content: space-between;


  }
}