$textColor: #777;
$textHeadingColor: #555;
$lightColor: #f7f7f7;
$lightgrey: #999;
$blackColor: #232935;
$lightDark: #26272f;
$darkColor: #1a1c26;
$pinkColor: #ff0050;
$whiteColor: #fff;
$boxShadow: 0 1rem 2rem rgba($blackColor, .1);
